<ol class="breadcrumb">
  <li><a href="#/admin/labs">Admin</a></li>
  <li><a href="#/admin/labs">Labs</a></li>
  <li class="active">{{ctrl.lab.name}}</li>
</ol>

<div class="single-lab">

  <div class="page-header name">
    <h1>{{ctrl.lab.name}}</h1>
  </div>

  <p class="lead description">{{ctrl.lab.desc}}</p>

  <div class="row">
    <div class="col-md-8">
      Kraj: <span ng-class="{'label label-danger': ctrl.lab.isOver,
                            'label label-success': !ctrl.lab.isOver}">{{ctrl.lab.end | date:'dd. MM. yyyy HH:mm:ss'}}</span>
      <span ng-show="lab.published" class="label label-success">Rezultati SU OBJAVLJENI studentima</span>
      <span ng-show="!lab.published" class="label label-danger">Rezultati NISU OBJAVLJENI studentima</span>
      <button ng-show="lab.published" type="button" class="btn btn-default btn-xs">Sakrij rezultate</button>
      <button ng-show="!lab.published" type="button" class="btn btn-default btn-xs">Objavi rezultate</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary pull-right">Uredi</button>
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-default">Pokreni testove</button>
  </div>
  
</div>

<div class="page-header name">
    <h1>Rezultati izvođenja testova</h1>
  </div>

<div class="row">
  <p>Broj studenata: {{ctrl.lab.numOfStudents}}</p>
  <p>Broj predanih rješenja: {{ctrl.lab.numOfSolutions}}</p>
</div>

<div class="row results">
  <table class="table table-hover">
    <tr>
      <th>Korisničko ime</th>
      <th>Ime i prezime</th>
      <th>JMBAG</th>
      <th>Jezik</th>
      <th>Rezultat</th>
    </tr>
    <tr ng-repeat="user in ctrl.lab.results" ng-class="{'danger': !user.score}">
      <td>{{user.username}}</td>
      <td>{{user.name}}</td>
      <td>{{user.id}}</td>
      <td>{{user.lang}}</td>
      <td>{{user.score}}</td>
    </tr>
  </table>
</div>
