<ol class="breadcrumb">
  <li><a href="#/labs">Labs</a></li>
  <li class="active">{{ctrl.lab.name}}</li>
</ol>

<div class="single-lab">

  <div class="page-header name">
    <h1>{{ctrl.lab.name}}</h1>
  </div>

  <p class="lead description">{{ctrl.lab.desc}}</p>

  <div class="row">
    <div class="col-md-8">
      Kraj: <span ng-class="{'label label-danger': ctrl.lab.isOver,
                            'label label-success': !ctrl.lab.isOver}">{{ctrl.lab.end | date:'dd. MM. yyyy HH:mm:ss'}}</span>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" ng-show="!ctrl.lab.isOver">Predaj rješenje</button>
      <button type="button" class="btn btn-default" ng-show="ctrl.lab.submitted">Dohvati rješenje</button>
    </div>
  </div>

  <div ng-if="ctrl.lab.results" class="score">
    <p class="alert alert-info" role="alert">
      Rezultat: {{ctrl.lab.results.score}} od {{ctrl.lab.results.scoreTotal}}
      ({{ctrl.lab.results.score/ctrl.lab.results.scoreTotal*100 | number: 2}}%)
    </p>
  </div>

  <div class="row results" ng-repeat="test in ctrl.lab.results.tests">
    <h3>{{test.name}}</h3>
    <table class="table">
      <tr>
        <th>Podtest</th>
        <th>Detalji</th>
        <th>Rezultat</th>
      </tr>
      <tr ng-repeat="subTest in test.subTests" ng-class="{'danger': !subTest.passed}">
        <td>{{subTest.name}}</td>
        <td>{{subTest.details}}</td>
        <td>
          <span ng-show="{{subTest.passed}}"
                class="glyphicon glyphicon-ok"></span>
          <span ng-show="{{!subTest.passed}}"
                class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
