<ol class="breadcrumb">
  <li><a href="#/labs">Labs</a></li>
  <li class="active">{{labDetailsCtrl.lab.name}}</li>
</ol>

<div class="page-header">
  <h1>{{labDetailsCtrl.lab.name}}</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">{{labDetailsCtrl.lab.desc}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    Početak: <span class="label label-success">{{labDetailsCtrl.lab.start}}</span>
    Kraj: <span class="label label-danger">{{labDetailsCtrl.lab.end}}</span>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default">Dohvati rješenje</button>
  </div>
</div>

<div class="row" ng-repeat="test in labDetailsCtrl.lab.results.tests">
  <h3>{{test.name}}</h3>
  <table class="table">
    <tr>
      <th>Podtest</th>
      <th>Detalji</th>
      <th>Rezultat</th>
    </tr>
    <tr ng-repeat="subTest in test.subTests" ng-class="{'danger': !subTest.passed}">
      <td>{{subTest.name}}</td>
      <td>{{subTest.details}}</td>
      <td>
        <span ng-show="{{subTest.passed}}"
              class="glyphicon glyphicon-ok"></span>
        <span ng-show="{{!subTest.passed}}"
              class="glyphicon glyphicon-remove"></span>
      </td>
    </tr>
  </table>
</div>
