/* app css stylesheet */

.main-content {
    margin-top: 80px;
}

.lab.row {
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.single-lab .score {
    margin-top: 50px;
    margin-bottom: 40px;
}

/* admin interface */

.add-lab-form {
    margin-top: 50px;
    margin-bottom: 50px;
}