<ol class="breadcrumb">
  <li><a href="#/admin">Admin</a></li>
  <li><a href="#/admin/labs">Labs</a></li>
</ol>

<div class="add-lab-form">
  <form ng-submit="labCtrl.submit()" name="addLabForm">
    <h2>Dodaj novi lab</h2>
    <div class="form-group">
      <input type="text"
             class="form-control"
             placeholder="Ime"
             ng-model="labCtrl.lab.name"
             required
             ng-minlength="3"></input>
    </div>
    <div class="form-group">
      <textarea type="text"
                class="form-control"
                placeholder="Opis"
                ng-model="labCtrl.lab.desc"
                required></textarea>
    </div>
    <div class="form-group">
      <input type="date"
             class="form-control datepicker"
             placeholder="Početak"
             ng-model="labCtrl.lab.start"
             ng-change="labCtrl.updateEnd()"
             required></input>
    </div>
    <div class="form-group">
      <input type="date"
             class="form-control datepicker"
             placeholder="Kraj"
             ng-model="labCtrl.lab.end"
             required></input>
    </div>
    <button type="submit"
            class="btn btn-primary"
            ng-disabled="addLabForm.$invalid">Dodaj</button>
  </form>
  
</div>

<div class="alert alert-danger" ng-bind="labCtrl.errorMessage" ng-show="labCtrl.errorMessage"></div>

<div class="alert alert-info" ng-bind="labCtrl.infoMessage" ng-show="labCtrl.infoMessage"></div>

<div class="lab row" ng-repeat="lab in labCtrl.labs">
  <h2>
    <a href="#/admin/labs/{{lab.id}}">{{lab.name}}</a>
  </h2>
  <p>{{lab.desc}}</p>
  <div class="row">
    <div class="col-md-12">
      Rok za predaju: <span ng-class="{'label label-danger': lab.isOver,
                                       'label label-success': !lab.isOver}">{{lab.end | date:'dd. MM. yyyy HH:mm:ss'}}</span>
      <span ng-show="lab.published" class="label label-success">Rezultati SU OBJAVLJENI studentima</span>
      <span ng-show="!lab.published" class="label label-danger">Rezultati NISU OBJAVLJENI studentima</span>
      
    </div>
  </div>
</div>
