<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">Bodovi <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#/admin/results">Pregled svih bodova</a></li>
      <li><a href="#/admin/results">Dohvati kao CSV</a></li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right" ng-show="ctrl.userService.isLoggedIn">
  <li>
    <p class="navbar-text">
      Signed in as
      <a href="#" class="navbar-link">{{ctrl.userService.currentUser.username}}</a>
      <span class="label label-danger">admin</span>
    </p>
  </li>
  <li>
    <form class="navbar-form navbar-right" role="form" name="logoutForm" ng-submit="ctrl.logout()">
      <button type="submit" class="btn btn-success signout-link">Sign out</button>
    </form>
  </li>
</ul>
