<ol class="breadcrumb">
  <li><a href="#/labs">Labs</a></li>
  <li class="active">{{ctrl.lab.name}}</li>
</ol>

<div class="single-lab">

  <div class="page-header name">
    <h1>{{ctrl.lab.name}}</h1>
  </div>

  <p class="lead description">{{ctrl.lab.desc}}</p>

  <div class="row">
    <div class="col-md-8">
      Kraj: <span ng-class="{'label label-danger': ctrl.lab.isOver,
                            'label label-success': !ctrl.lab.isOver}">{{ctrl.lab.end | date:'dd. MM. yyyy HH:mm:ss'}}</span>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary pull-right" ng-show="!ctrl.lab.isOver">Predaj rješenje</button>
      <button type="button" class="btn btn-default pull-right" ng-show="ctrl.lab.submitted">Dohvati rješenje</button>
    </div>
  </div>

  <div class="lab-upload">
    <div class="upload-button">
      <input type="file" nv-file-select uploader="ctrl.uploader" />
      <div class="alert alert-danger" role="alert"
           ng-bind="ctrl.errorMessage" ng-show="ctrl.errorMessage"></div>
    </div>
    <div class="upload-list">
      <div ng-repeat="item in ctrl.uploader.queue" class="row">
        <div class="col-md-4">
          <strong>{{ item.file.name }}</strong>
          <span> ({{ item.file.size/1024/1024|number:2 }} MB)</span>
        </div>
        <div class="col-md-4 progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
        </div>
        <div class="col-md-1 text-center">
          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </div>
      </div>
    </div>
    <div class="job-progress">
      <progressbar class="progress-striped active"
                   value="ctrl.jobStatusProgress"
                   type="info"
                   max="90">
        {{ctrl.jobStatus}}
      </progressbar>
    </div>
  </div>

  <div ng-if="ctrl.lab.results" class="score">
    <p class="alert alert-info" role="alert">
      Rezultat: {{ctrl.lab.results.score}} od {{ctrl.lab.results.scoreTotal}}
      ({{ctrl.lab.results.score/ctrl.lab.results.scoreTotal*100 | number: 2}}%)
    </p>
  </div>

  <div class="row results" ng-repeat="test in ctrl.lab.results.tests">
    <h3>{{test.name}}</h3>
    <table class="table table-hover">
      <tr>
        <th>Podtest</th>
        <th>Detalji</th>
        <th>Rezultat</th>
      </tr>
      <tr ng-repeat="subTest in test.subTests" ng-class="{'danger': !subTest.passed}">
        <td>{{subTest.name}}</td>
        <td>{{subTest.details}}</td>
        <td>
          <span ng-show="{{subTest.passed}}"
                class="glyphicon glyphicon-ok"></span>
          <span ng-show="{{!subTest.passed}}"
                class="glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
