<ul class="nav navbar-nav" ng-show="ctrl.userService.isLoggedIn">
  <li class="active">
    <a href="#/">Početna</a>
  </li>
  <li>
    <a href="#/admin/labs">Admin</a>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right" ng-show="ctrl.userService.isLoggedIn">
  <li>
    <p class="navbar-text">Signed in as
      <a href="#" class="navbar-link">{{ctrl.userService.username}}</a></p>
  </li>
  <li>
    <form class="navbar-form navbar-right" role="form" name="logoutForm" ng-submit="ctrl.logout()">
      <button type="submit" class="btn btn-success signout-link">Sign out</button>
    </form>
  </li>
</ul>
